html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  padding-top: 100px;
}
form {
  margin: 0 auto;
  width: 8000px;
  padding: 2em;
  border: 1px solid #5c0700;
  border-radius: 3em;
  display: center;
  background-color: #fff995;
}
  
